app = "hour-race-discord-bot"
primary_region = "hkg"

[mounts]
  source = "bot_data"
  destination = "/app/data"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1